* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --theme:#F87070;
    /* --blue:#70F3F8;
    --purple:#D881F8; */
    --textfont: 'Kumbh Sans';
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 25px;
}

input[type=number]::-webkit-inner-spin-button {
  background-image: url('./assets/icon-arrow-up.svg') !important;
  background-position: right center;
}

input[type=number]::-webkit-outer-spin-button {
  background-image: url('./assets/icon-arrow-down.svg') !important;
  background-position: right center;
}


body{
    margin: 0 auto;
    background: #1E213F;
    min-height: 100vh;
    font-family: var(--textfont);
    /* font-size: 1.6rem;*/
}

.container {
    /* width: min(42.5rem, 100%); */
    /* margin-inline: auto;
    padding-inline: 2rem; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.img-heading{
    margin-top: 48px;
}



/* FORM POP UP */



.form-container{
    position: absolute;
    z-index: 4;
    /* margin: 0 auto; */
    background: #FFFFFF;
    border-radius: 25px;
    width: 540px;
    height: 484px;
    display:none;
    /* width: 33.75rem;
    height: 29rem; */
    
}

.heading{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 34px 30px 31px;
    border-bottom: 1px solid #E3E1E1;
    gap: 330px;
}

.heading h2{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
}

.close-btn{
    align-self: center;
    opacity: 0.5;
}

.close-btn:hover{
    opacity: 1;
}

.container-wrapper{
    margin:auto 40px;
    box-sizing: border-box;
}

h3{
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 5px;
}

.time-section{
    border-bottom: 1px solid #E3E1E1;
    padding: 24px 0;
}

.time-input{
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 140px;
    height: 70px;
}

.input-box label{
    /* width: 95%; */
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1E213F;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.input-box input{
    height: 48px;
    width: 140px;
    background: #EFF1FA;
    margin-top: 8px;
    border-radius: 10px;
    border:0px solid #EFF1FA;
    outline: none;
    padding-left: 15px;
}

.font-section{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    padding: 35px 0;
    /* padding: 19px 0; */
    border-bottom: 1px solid #E3E1E1;
}

/* .font-selector{
      
    position: relative;
} */

/* .outer{
    background: green;
    position:absolute ;
    height: 50px;
    width: 50px;
    border-radius: 50%;
} */

.font-selector1{
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
}

.font-selector2{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.font-selector3{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
}

.font-btn{
    position: relative;
    padding:11px;
    margin: 11px;
    background: #EFF1FA;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
}

.color-section{
    display: flex;
    justify-content: space-between;
    gap: 185px;
    padding: 20px 0;
}

.color-section h3{
    align-self: center;
}

/* .color-selector button in case bricks */
.color-selector button{
    border: 0px;
    cursor: pointer;
}

.color-selector1{
    background-color: #F87070;
}

.color-selector2{
    background-color: #70F3F8; 
}

.color-selector3{
    background-color: #D881F8;
}

.font-btn:hover{
    box-shadow: 0 0 0 5px white, 0 0 0 6px #EFF1FA;
}


.apply-btn{
    position: relative;
    left:34.22%;
    top:8px;
    width: 140px;
    height: 53px;
    background: var(--theme);
    border-radius: 26.5px;
    cursor: pointer;
    border: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.apply-btn:hover{
    filter: brightness(85%);
    border-radius: 26.5px;
}




/* END OF FORM */




.pill-panel {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #161932;
    text-align: center;
    align-items: center;
    /* width: 20rem; */
    width: 373px;
    height: 63px;
    margin-block: 47px;
    padding: 1rem;
    border-radius: 10rem;
}

.pill-panel p{
    cursor: pointer;
    color: #D7E0FF;
    mix-blend-mode: normal;
    opacity: 0.4;
    z-index: 2;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.pill-panel p:hover, .settings-icon:hover{
    color:#FFFFFF;
    opacity: 0.8;
}

.pill-panel p.active {
    opacity: 1;
    color: #1E213F;
}

.pill-panel .indicator{
    position: absolute;
    background: var(--theme);
    width: calc(33% - 1px);
    height: 48px;
    left: 2%;
    border-radius: 26.5px;
    transition: all 300ms ease-in-out;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 410px;
    border-radius: 50%;
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
    /* -webkit-box-shadow: 0px 0px 15px 10px hsl(235, 36%, 35%); 
    box-shadow: 0px 0px 15px 10px hsl(235, 36%, 35%); */
}

.timer .inner-timer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 366px;
    height: 366px;
    border-radius: 50%;
    background: #161932;
}

.clock-circle{
    position: relative;
    display: flex;  /*new*/
    flex-direction: column;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.progress-ring{
    position: absolute;
    width: 339px;
    height: 339px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.progress-ring-circle{
    transition: 0.5s;
    transform: rotate(-90deg);
    /* transform-origin: 50% 50%; */
    transform-origin: center;
    stroke: var(--theme);
}

.time {
    position: relative;
    display: flex;
    /* flex-direction: row; */
}

.time p {
    font-size: 100px;
    line-height: 132px;
    text-align: center;
    color: #D7E0FF;
}

.status{
    /* position: absolute; */
    /* top:calc(50% - 21px/2 + 84.5px); */
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 15px;
    cursor: pointer;
    margin-top: 10px;
    justify-self: flex-end; /*not working??*/
    z-index: 2;   /*temporary fix for ponter not working*/
}

.control{
    text-decoration: none;
    color: #D7E0FF;
    text-align: center;
}

.control:hover{
    color: var(--theme);
}

#control2{
    display: none;
}

#control3{
    display: none;
}

.setting{
    margin-top: 63px;
    margin-bottom: 56px;
}

.settings-icon{
    opacity: 0.4;
}

.disable{
    pointer-events: none;
    opacity: 0.60;
}

.highlighted{
    background-color: #161932;
    color: white;
}

.checkmark{
    display: none;
}

button.selected .checkmark {
    display: block;
}



/* TABLET MEDIA QUERY */

@media(max-width: 768px){
    body{
        height: 1024px;   
        margin: 0 auto;  
    }

    .container{
        /* align-items: center; */
        
        min-height: 100vh;
    }

    .img-heading{
        margin-top: 80px;
        padding-top: 0;
    }

    .pill-panel{
        margin-top: 55px;
        margin-bottom: 109px;
    }

    .setting{
        margin-top: 144px;
        margin-bottom: 103px;
    }

}


/* PHONE MEDIA QUERY */

@media(max-width:412px){
    body{
        min-height: 100vh;
        font-family: var(--textfont);
    }

    .img-heading{
        margin-top: 32px;
        width: 118px;
        height: 30px;
    }

    .pill-panel{
        margin-top: 45px;
        margin-bottom: 48px;
        width: 327px;
    }

    .pill-panel p{
        font-size: 12px;
    }

    .setting{
        margin-top: 79px;
        margin-bottom: 48px;
    }

    .timer{
        width: 300px;
        height: 300px;
    }

    .timer .inner-timer{

        width: 267.8px;
        height: 267.8px;
    }

    .clock-circle{
        padding: 1px;
        height: 10%;
    }

    .progress-ring{
        width: 255px; /*reduced my approximately 110 to make 249*/
        height: 255px;
        transform: translate(-50%, -50%);
    }

    .progress-ring-circle{
        /* transform: rotate(-90deg); */
        /*
        stroke-dasharray: 1005;  circumference of the circle (2 * Math.PI * r) 
        stroke-dashoffset: 502.5;  half of the circumference of the circle    
        */
        transform-origin: center;
        stroke-width: 10px;
        /* transform: scale(0.76,0.76); */
    }
    

    .time p {
        font-weight: 400;
        font-size: 80px;
        line-height: 100px;
        text-align: center;
        color: #D7E0FF;
    }

    .control{
        /* top:calc(25% - 10px/2 + 74.5px);
        left: 15%; */
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 13px;
        
    }


    /* FORM POP UP */

    .form-container{
        width: 327px;
        height: 549px;
        border-radius: 15px;
        /* width: 33.75rem;
        height: 29rem; */
        
    }

    .heading{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 24px 20px 21px;
        border-bottom: 1px solid #E3E1E1;
        gap: 180px;
    }
    
    .heading h2{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }

    .container-wrapper{
        margin:auto 24px;
    }
    
    h3{
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 4.23077px;
        letter-spacing: 5px;
    }
    
    .time-section{
        min-height: 213px;
        padding: 24px 0;
    }

    .time-section h3{
        text-align: center;
    }
    
    .time-input{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }
    
    .input-box{
        display: flex;
        flex-direction: column;
        /* flex-wrap: nowrap; */
        justify-content: space-between;
        align-items: center;
        width: 140px;
        height: 70px;
        max-height: 48px;
        
    }
    
    .input-box label{
        /* width: 95%; */
        margin: 0;
        font-size: 12px;
        line-height: 15px;
        width: 70px;
        align-self: center;
        position: relative;
        left: -45%;
        top:40%;
    }
    
    .input-box input{
        height: 40px;
        width: 140px;
        margin-top: 8px;
        padding-left: 15px;
    }

    .font-section{
        flex-direction: column;
        max-height: 117px;
        /* justify-content: space-between; */
        gap: 10px;
        padding: 24px 0;
    }

    .font-selector{
        margin-top: 18px;
        margin-bottom: 24px;
    }

    .color-section{
        /* display: flex;
        justify-content: space-between;
        padding: 20px 0; */
        flex-direction: column;
        max-height: 144px;
        gap: 12px;
    }
    
    .color-section h3{
        align-self: center;
    }
    
    .font-btn{
        margin:11px 8px;
    }

    .apply-btn{
        /* left:34.22%; */
        left:24.22%;
        top:-6px;     
    }

}